.mainContent {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Definiert 3 Spalten */
    grid-template-rows: auto; /* Die Zeilen passen sich dem Inhalt an */
    gap: 5px; /* Abstand zwischen den Zellen */
  }

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}
